@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --background-color: rgb(253 251 255);
  --text-color: #333333;
  --nav-button-bg-hover: #a1b4ff;
  --nav-bg: #c7d2fe;
  --theme-toggle-button: #6877b6;
  --card-bg: #c7d2fe;
  --card-item-bg: #aebdf8;
  --card-item-bg-hover: #818cf8;
}

.dark {
  --background-color: #333333;
  --text-color: #ffffff;
  --nav-button-bg-hover: #9595958c;
  --nav-bg: #333333;
  --theme-toggle-button: #9595957c;
  --card-bg: #454545;
  --card-item-bg: #2a2a2a;
  --card-item-bg-hover: rgba(118, 118, 118, 0.482);
}
