@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --nav-button-bg-hover: ##c7d2fe;
  --nav-bg: #c7d2fe;
  --theme-toggle-button: #b5c0ed;
}

.dark {
  --background-color: #333333;
  --text-color: #ffffff;
  --nav-button-bg-hover: #9595958c;
  --nav-bg: #333333;
  --theme-toggle-button: #9595957c;
}
